{% extends "layaut.html" %}

{% block title %}Contacto{% endblock %}

{% block header %}
{% endblock %}
<style>
	.card img {
		object-fit: cover;
		height: 200px;
	}
	.card-text {
		max-height: 60px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
{% block content %}

<div class="container py-5">
	<div class="row g-4">
		<div class="col-md-12 text-center">
			<h2>Nos ubicamos en</h2>
			<p><strong>Dirección:</strong> Carretera Teotitlán - San Antonio Nanahuatipán Km 1.7 s/n., Paraje Titlacuatitla, Teotitlán de Flores Magón, Oax., México, C.P. 68540</p>
			<p><strong>Teléfono:</strong> +522363720712 | 236 11 32 32 1</p>
			<p><strong>Correo electrónico:</strong> <a href="mailto:laboratorioDSI@unca.edu.mx">laboratorioDSI@unca.edu.mx</a></p>
		</div>
		<div class="col-md-6 mx-auto">
			<iframe class="w-100" height="350" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3791.6131110558536!2d-97.10041891846247!3d18.13564903670845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1701308286706!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
	
	<div class="mt-5">
		<h2 class="text-center">Colaboradores del Proyecto</h2>
		<div class="row g-4">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Dra. Mayra Herrera Martinez</h5>
						<p class="card-text">Profesora-Investigadora del Instituto de Farmacobiología, Universidad de la Cañada, SNI 1.</p>
						<a href="https://scholar.google.es/citations?user=RepZ0I0AAAAJ&hl=es" target="_blank" class="btn btn-primary">Acerca de</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Dr. Armando Ordáz Hernández</h5>
						<p class="card-text">Profesor-Investigador del Instituto de Farmacobiología, Universidad de la Cañada, SNI 1.</p>
						<a href="https://scholar.google.com/citations?hl=es&user=4pGYnbMAAAAJ" target="_blank" class="btn btn-primary">Acerca de</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Dr. Edmundo González Santillán</h5>
						<p class="card-text">Profesor-Investigador, UNAM, Curador y Responsable de la Colección Nacional de Arácnidos, SNI 1.</p>
						<a href="https://scholar.google.com.mx/citations?user=sc5mWAQAAAAJ&hl=en" target="_blank" class="btn btn-primary">Acerca de</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">M. C. Beatriz Adriana Sabino Moxo</h5>
						<p class="card-text">Profesora-Investigadora del Instituto Tecnología de los Alimentos, Universidad de la Cañada, PRODEP.</p>
						<a href="https://scholar.google.com/citations?user=--1J4s8AAAAJ&hl=es" target="_blank" class="btn btn-primary">Acerca de</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">M. C. Jose Alberto Márquez Domínguez</h5>
						<p class="card-text">Profesor-Investigador del Instituto Tecnología de los Alimentos, Universidad de la Cañada, PRODEP.</p>
						<a href="https://scholar.google.com/citations?hl=es&user=ZtX_ZoAAAAAJ" target="_blank" class="btn btn-primary">Acerca de</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">José Manuel Sánchez Ruíz</h5>
						<p class="card-text">Teléfono: 2381010925 | Correo: <a href="mailto:lqc_josemsr@unca.edu.mx">lqc_josemsr@unca.edu.mx</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Cinthya Lisseht López Navarro</h5>
						<p class="card-text">Teléfono: ------ | Correo: <a href="mailto:lisseht@ciencias.unam.mx">lisseht@ciencias.unam.mx</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
