<!DOCTYPE html>
<html lang="en">

<head>
	<title>Galeria</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no" />
	<link rel="icon" href="/static/images/favicon.ico">
	<link rel="shortcut icon" href="/static/images/favicon.ico" />
	<link rel="stylesheet" href="/static/css/form.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery-migrate-1.2.1.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/superfish.js"></script>
	<script src="/static/js/sForm.js"></script>
	<script src="/static/js/jquery.ui.totop.js"></script>
	<script src="/static/js/jquery.equalheights.js"></script>
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<script>
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
			<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
</head>

<body class="" id="top">
	<!--==============================header=================================-->
	<header>
		<div class="container_12">
			<div class="grid_12">
				<h1>
					<a href="/">
						<img src="/static/images/logo.png" alt="Registro de Alacranes">
					</a>
				</h1>
				<div class="menu_block ">
					<a href="#" class="donate">INGRESA</a>
					<div class="clear"></div>
					<nav class="horizontal-nav full-width horizontalNav-notprocessed">
						<ul class="sf-menu">
							<li><a href="/">Inicio</a></li>
							<li><a href="/Estadisticas">Estadísticas</a></li>
							<li class="current"><a href="/Galeria">Galería</a></li>

							<li><a href="/Contacto">Contacto</a></li>
						</ul>
					</nav>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</header>
	<!--==============================Content=================================-->
	<div class="content">
		<div class="ic">More Website Templates @ TemplateMonster.com - March 24, 2014!</div>
		<div class="container_12">
			<div class="gallery">
				<div class="grid_6">
					<h2>Centruroides baergi</h2>
					<a href="/static/images/big1.jpg" target="_blank" class="gal"><img
							src="/static/images/page4_img1.jpg" alt=""></a>
					Conocido como alacrán Oaxaqueño, ya que se localiza predominantemente en el estado de Oaxaca, aunque
					también se encuentra en algunas zonas de Puebla.
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<div class="grid_6">
					<h2>Diplocentrus ochoterense</h2>
					<a href="/static/images/big2.jpg" target="_blank" class="gal"><img
							src="/static/images/page4_img2.jpg" alt=""></a>
					Diplocentrus ochoterenai pertenece a la familia Diplocentridae y está distribuido de manera endémica
					en el estado de Oaxaca. Algunos ejemplares se pueden encontrar en San Juan Bautista Cuicatlán,
					Santiago Chazumba, Valerio Trujano y Teotitlán de Flores Magón.
					Los estudios más recientes sobre la presencia de actividad antibacteriana en la familia
					Diplocentridae están enfocados hacia el veneno de Diplocentrus melici, ya que se descubrió una
					benzoquinona con actividad biológica contra S. aureus y Mycobacterium tuberculosis.
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<div class="grid_6">
					<h2>Hoffmannihadrura aztecus</h2>
					<a href="/static/images/big3.jpg" target="_blank" class="gal"><img
							src="/static/images/page4_img3.jpg" alt=""></a>
					Este alacrán habita en los estados de Guerrero, Oaxaca, Puebla y Veracruz. En el veneno de H.
					aztecus se identificó un péptido con actividad antimicrobiana denominado Hadrurin, el cual es capaz
					de inhibir el crecimiento de Salmonella thyphi y otras.
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<div class="grid_6">
					<h2>Mesomexovis fasciatus</h2>
					<a href="/static/images/big4.jpg" target="_blank" class="gal"><img
							src="/static/images/page4_img4.jpg" alt=""></a>
					El género Mesomexovis es endémico de México y se encuentra distribuido en 18 estados, entre ellos:
					Aguascalientes, Colima, Chiapas, Guanajuato, Guerrero, Hidalgo, Jalisco, Estado de México,
					Michoacán, Morelos, Nayarit, Oaxaca, Puebla, Sinaloa, Querétaro, Tlaxcala, Veracruz y Zacatecas
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>

				<div class="grid_6">
					<h2>Mesomexovis subcristatus </h2>
					<a href="/static/images/big5.jpg" target="_blank" class="gal"><img
							src="/static/images/page4_img5.jpg" alt=""></a>
					Conocido también como Vaejovis subcristatus es una especie que se llega a distribuir en los estados
					de Oaxaca y Veracruz (Fet et al., 2000). Relacionado a su veneno se ha reportado, a partir de un
					análisis transcriptomico utilizando ARN obtenido de la maceración del telson de V. subcristatus,
					marcadores de secuencia expresada (EST’s) que posiblemente codifican toxinas, péptidos
					antimicrobianos, proteínas involucradas en procesos celulares, proteínas con funciones no definidas
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<div class="grid_6">
					<h2>Vejovis solegladi</h2>
					<a href="/static/images/big6.jpg" target="_blank" class="gal"><img
							src="/static/images/page4_img6.jpg" alt=""></a>
					La familia Vaejovidae representa el 52% en diversidad de especies del país. Hoy en día, se conocen
					alrededor de 149 especies en 21 géneros, de los cuales ocho son endémicos, se caracterizan por tener
					hábitos desérticos y semidesérticos.
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<!--
				<div class="grid_3">
					<h3>Otro 1</h3>
					<a href="/static/images/big7.jpg"  target="_blank" class="gal"><img src="/static/images/page4_img7.jpg" alt=""></a>
					Rein pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatisis massde
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<div class="grid_3">
					<h3>Otro 2</h3>
					<a href="/static/images/big8.jpg" target="_blank" class="gal"><img src="/static/images/page4_img8.jpg" alt=""></a>
					Jroin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis masolo
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<div class="clear"></div>
				<div class="grid_3">
					<h3>Otro 3</h3>
					<a href="/static/images/big9.jpg" target="_blank" class="gal"><img src="/static/images/page4_img9.jpg" alt=""></a>
					Geroin pharetra luctusdiamesque erosallikoaecenas vehicul egestas venenatis. Duis masswertloi
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
				<div class="grid_3">
					<h3>Otro 4</h3>
					<a href="/static/images/big10.jpg"  target="_blank" class="gal"><img src="/static/images/page4_img10.jpg" alt=""></a>
					Kroin pharetra luctus diamesque eros convallikoaecenas vehicula egestas venenatis. Duis mass
					<br>
					<a href="#" class="btn">Learn More</a>
				</div>
-->

			</div>
		</div>
	</div>
	<div class="bottom_block">
		<div class="container_12">
			<div class="grid_4 ">
				<h3>Mantente informado</h3>
				<div class="text1">Suscribete a nuestro correo</div>
				<form id="newsletter">
					<div class="rel">
						<div class="success">La suscripción ha sido enviada</div>
						<label class="email">
							<input type="email" value="Enter your Email">
							<span class="error">*Esta dirección de correo no es válida</span>
						</label>
					</div>
					<a href="#" class="btn" data-type="submit">Enviar</a>
				</form>
			</div>
			<div class="grid_5 prefix_3">
				<h3>Mantente informado</h3>
				<div class="text1">Síguenos en nuestras redes sociales </div>
				En esta encontraras información referente a los eventos que se realizan.
				<div class="socials">
					<a href="http://twitter.com/#!/UNCA_SUNEO">
						<div class="fa fa-twitter"></div>
					</a>
					<a href="http://www.facebook.com/pages/Universidad-de-la-Ca%C3%B1ada/282710531799277">
						<div class="fa fa-facebook"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--==============================footer=================================-->
	<footer>
		<div class="container_12">
			<div class="grid_12">
				<div class="copy">
					Life &copy; 2014 | <a href="#">Privacy Policy</a> <br> Website designed by <a
						href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com </a>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>